.section-container.skills {
  min-width: 500px;
  /* width: auto; */
}

.section-title.skills {
  margin: 0.2em 0.2em 0.5em 0.2em;
}

.skills-container {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.skill-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-name {
  color: rgba(255, 255, 255, 0.5);
  margin: 0.75em;
  font-size: 0.8rem;
  font-weight: 400;
}

/* @media (max-width: 768px) {
  .section-container.skills {
    min-width: 0px;
    width: 80vw;
  }
} */

@media (max-width: 865px) {
  .section-container.skills {
    /* flex-direction: column; */
    min-width: calc(500px + 3.2rem);
  }
}

@media (max-width: 768px) {
  .section-container.skills {
    /* flex-direction: column; */
    min-width: calc(500px + 3.2rem);
  }
}

@media (max-width: 615px) {
  .section-container.skills {
    /* flex-direction: column; */
    min-width: 80vw;
  }
}
