nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-title {
  margin: auto 1em;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-title:link,
.nav-title:visited,
.nav-title:hover,
.nav-title:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.theme-icons {
  display: flex;
  flex-direction: column;
  margin: auto 2em;
  text-align: center;
  width: 35px;
  height: 35px;
  z-index: 1;
}

.theme-toggle-container-sun {
  cursor: pointer;
  display: block;
  margin: 5px 0 0 0;
  width: 35px;
  height: 35px;
}

.theme-toggle-container-sun.is-toggled {
  display: none;
}

.theme-toggle-container-moon {
  cursor: pointer;
  display: none;
}

.theme-toggle-container-moon.is-toggled {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
}

.theme-moon-icon {
  fill: #242424;
}

.theme-screen {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: -1px;
  right: -1px;
  scale: 1;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  transition: scale 1s ease-in-out;
  mix-blend-mode: difference;
  pointer-events: none;
}

.theme-screen.is-toggled {
  scale: var(--vwh-scale);
  overflow: hidden;
}
