nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-title {
  margin: auto 1em;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-title:link,
.nav-title:visited,
.nav-title:hover,
.nav-title:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

@supports not (-webkit-touch-callout: none) {
  .theme-icons {
    position: relative;
    margin: auto 2em;
    width: 36px;
    height: 100%;
    overflow: hidden;
  }

  .theme-toggle-container-sun {
    position: absolute;
    top: 100%;
    width: 36px;
    height: 36px;
    z-index: 3;
    transition: top 0.5s ease-in-out;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  .theme-toggle-container-sun.is-toggled {
    cursor: pointer;
    position: absolute;
    top: 25px;
    transition: top 0.5s ease-in-out;
  }

  .theme-toggle-container-moon.is-toggled {
    position: absolute;
    top: -100%;
    left: 8px;
    width: 20px;
    height: 20px;
    transition: top 0.5s ease-in-out;
  }

  .theme-toggle-container-moon {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 8px;
    right: 2px;
    width: 20px;
    height: 20px;
    transition: top 0.5s ease-in-out;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  .theme-moon-icon {
    fill: #e3e3e3;
  }

  .theme-screen {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: -1px;
    right: -1px;
    scale: 1;
    width: 1px;
    height: 1px;
    border-radius: 1px;
    transition: transform 1s ease-in-out;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 2;
  }

  .theme-screen.is-toggled {
    transform: scale(var(--vwh-scale));
  }
}

@supports (-webkit-touch-callout: none) {
  .theme-icons {
    display: none;
  }
}
