.intro-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}

.intro-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.intro-name {
  padding: 0;
  margin: 0;
}

.intro-tagline {
  margin: 0 0 1em 0;
  font-weight: 400;
}

.intro-welcome-container {
  display: flex;
}

.intro-welcome {
  font-size: 1.6rem;
}

.icon-on-top {
  font-size: 1.6rem;
  z-index: 2;
}

@media (max-width: 865px) {
  .intro-container {
    min-width: calc(500px-2rem);
  }
}

@media (max-width: 540px) {
  .intro-container {
    flex-direction: column;
    min-width: calc(80vw - 3em);
  }

  .contact-info {
    margin: auto;
    flex-direction: row;
  }

  .intro-name {
    font-size: 11vw;
  }
  .intro-tagline {
    font-size: 4vw;
  }
  .intro-welcome,
  .icon-on-top {
    font-size: 5.5vw;
  }
}
