.intro-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}

.intro-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info {
  margin: auto auto 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.intro-name {
  margin: 1em 0 0 0;
}

.intro-tagline {
  margin: 0 0 1em 0;
}

@media (max-width: 865px) {
  .intro-container {
    min-width: calc(500px-2rem);
  }
}

@media (max-width: 540px) {
  .intro-container {
    flex-direction: column;
    min-width: calc(80vw - 3em);
  }

  .contact-info {
    flex-direction: row;
  }

  .intro-welcome {
    font-size: 1.2rem;
  }
}
