.icon-centered {
  margin: auto;
}

.contact-icon-centered {
  margin: auto 0 0 0;
}

.icon-skills {
  width: 50px;
  height: 50px;
}

@media (max-width: 615px) {
  .icon-centered {
    margin: 2em auto;
  }
}
