.full-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  min-height: calc(100% - 80px);
}

.content {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.section-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #343434;
  border-radius: 2rem;
  width: 250px;
}

.section-title-container {
  display: flex;
  font-size: 2rem;
  margin: 0;
  align-self: flex-start;
}

.section-title {
  width: 100%;
  font-size: 2rem;
  margin: 0.2em 0 0 0;
  align-self: flex-start;
}

.section-icon {
  fill: rgba(255, 255, 255, 0.5);
}

.section-icon.background {
  fill: #343434;
}

@media (max-width: 615px) {
  .section-container {
    width: 80vw;
  }
}
